* A real-time eCommerce App, a full stack application
* Angular (front-end)
* Spring Boot (back-end)
* RESTAPI to make front-end communicate with the back-end
* Database (Full Crud)


# Requirements
* Show a list of products
* Add products to shopping cart (CRUD)
* Shopping cart check out
* User login/logout security
* Track previous orders for logged in users

#Structure
1. Database Scripts
    - You can find all scripts to create all tables you will need in 01- sql scripts.

2. 02-back-end folder is for spring boot coding part.

3. 03-frontend folder is for angular coding part.


> in order to get everything work all you need is to clone the repo the for the frontend part open vscode or any editor you like, then go to the path 02-frontend run npm install.

> for backend part open IntelliJ editor > maven > reload project to get all dependencies the project needs.

